.mainContainer{
    background-image: url('/images/MainBackground.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    height: 100vh;
}

td,th{
    text-align: center;
}